.in2 {
  border-radius: 0 0 40px 40px;
  background: #d0d0d0;
  height: 88vh;
  color: #282c28;
  margin: 3px 10px 6px 0;
}

.in2 {
  border-radius: 40px;
  background: #6d9886;
  box-shadow: 0px 30px 110px 1px #282c28;
}

.in2 button {
  margin-top: 5px;
  background: #282c28;
  border: none;
}

.in2 button:hover {
  background: #d0d0d0;
  color: black;
}
