.in2 {
  border-radius: 0 0 40px 40px;
  background: var(--page);
  color: var(--background);
  margin: 3px 10px 6px 0;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: #6d9886;
  box-shadow: 0px 30px 110px 1px var(--background);
  transition: all 0.3s;
}

.in2:hover {
  transform: scale(1.1);
}

.in2 button {
  margin-top: 5px;
  background: var(--background);
  border: none;
}

.in2 button:hover {
  background: var(--page);
  color: black;
}


@media screen and (max-width: 768px) {
  .in2 {
    background: var(--page);
  }
}
