#root {
  display: flex;
}

.LeftPane {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  height: 100vh;
  text-align: center;
  width: 20vw;
  white-space: pre-wrap;
  background: var(--background);
  color: var(--page);
}

.block--right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  background: var(--background);
}

.no-cursor:hover {
  cursor: none;
}

@media screen and (max-width: 768px) {
  #root {
    flex-direction: column;
  }

  .LeftPane {
    font-size: 24px;
    height: 10vh;
    width: 100vw;
  }

  .LeftPane p {
    margin-bottom: 0;
  }

  .block--right {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
  }

  .in2 {
    border-radius: 0 0 40px 40px;
    background: var(--page);
    height: 75vh;
    margin: 3px 10px 6px 0;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
